.root {
    background: #a3c2ff;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.root__title {
    color: white;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 2.5rem;
    padding: 15px;
}

.root__form {
    width: 80%;
    height: 40%;
    margin-top: 30px;
    padding: 10px;
}

.form__input {
    border: none;
    border-radius: 5px;
    height: 24px;
    font-style: italic;
    padding-left: 5px;
}

.form__button {
    background: #e85d04;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    width: 130px;
    height: 26px;
}

.form__results {
    background: #414141;
    color: white;
    font-style: italic;
    border-radius: 5px;
    width: 90%;
    height: 45%;
    display: flex;
    flex-wrap: wrap row;
    margin-top: 10px;
    padding: 10px 20px 10px 10px;
}

@media (min-width: 768px) {
    .root__title {
        font-size: 4rem;
    }

    .root__form {
        max-width: 550px;
    }

    .form__results {
        max-width: 500px;
    }
}